{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container" style="border: black solid 1px;">

    <!-- TITLE HEADER -->
    <div class="jumbotron" style="border: black solid 1px; text-align: center;">
        <div class="container">
            <div style="border: black solid 1px;" class="row">
                <div style="border: black solid 1px; display: flex; align-items: center; text-align: center;" class="col-md-6">
                    <img style="border: black solid 1px; display: flex; text-align: center;" src="{% static '/calculator/logo.jpg' %}" />
                </div>
                <div class="col-md-6">
                    <h1 class="black-centred-text" style="font-size: 450%; border: black solid 1px">CryptoCalc</h1>
                    <h2 class="black-centred-text">
                        Calculate Your Returns</h2>
                    <p class="black-centred-text" style="font-size: 120%;">
                    Accurately compare crypto farming benefits with CryptoCalc.</p>
                </div>
            </div>
      </div>
    </div>

    <!-- CALCULATOR -->
    <div class="jumbotron" style="background-color: #FFFFFF; border: black solid 1px;">
        <!--Currency Search Bar-->
        <div class="container" id="currency-dropdown" style="margin-bottom: 1%;">
            <div class="dropdown nav-item"
                 style="margin: auto;
                        width: 45%;">
                <h4 class="black-centred-text">Choose currency: </h4>
                <!-- Dropdown coin list -->
                <!--Source: https://www.youtube.com/watch?v=lg1d0QaQLe0,
                https://www.webslesson.info/2017/04/multiple-select-option-by-using-bootstrap-select-plugin-in-php-ajax.html-->
                <form method="post" id="multiple_select_form">
                    <select name="framework"
                            id="framework"
                            class="form-control selectpicker"
                            data-live-search="true" multiple>
                        {% for coin in coin_list %}
                            <option value={{ coin.symbol }} data-secondary-text="% 24H">{{ coin.symbol }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="hidden_framework" id="hidden_framework" />
                </form>
            </div>
        </div>

        <div class="container" style="display: none; text-align: center;">
            <span>Coin: {{ coin }}</span>
            <span>Farming Type: {{ farming_type }}</span>
            <p>**Include info about the chosen coin here. Only once the coin is chosen.**</p>
        </div>

        <div class="container">
            <!-- CALCULATOR GOES HERE. DISPLAY DEPENDS ON WHICH COIN THE USER CHOOSES. -->
            <div name="mining_calc">
                {% include 'mining_calc.html' %}
            </div>

            <div name="staking_calc">
                {% include 'staking_calc.html' %}
            </div>

            <div style="border: black solid 1px;" class="row center">
                <div class="col md-3 mb-3" style="text-align: center; border: black solid 1px;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="compound" class="custom-control-input" id="compound">
                        <label class="custom-control-label" for="compound">Compound interest</label>
                    </div>
                </div>
                <div style="border: black solid 1px;" class="col md-3 mb-3">
                    <input id="time_frame" class="form-control" placeholder="Time staked in days (i.e. 365)" type="number">
                </div>
            </div>
            <div class="row center">
                <div style="border: black solid 1px; text-align: center;" class="col md-3 mb-3">
                    <input type="submit" name="submit" class="btn btn-info" value="Calculate" style="margin: auto; position: relative;" />
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="jumbotron" style="background-color: white; border: black solid 1px;">
        <!-- Grid layout -->
        <!-- SOURCE: Bootstrap template. https://getbootstrap.com/docs/4.5/examples/album/-->
        <h3 style="text-align: center; padding=100px;">New to crypto? Check these out:</h3>
        <div class="album py-5 bg-light">
            <div class="container">
                <!-- ROWS -->
                <div class="row">
                    <!-- COLUMNS -->
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top"
                                width="100%"
                                height="225"
                                xmlns="http://www.w3.org/2000/svg"
                                preserveAspectRatio="xMidYMid slice"
                                focusable="false"
                                role="img"
                                aria-label="Placeholder: Thumbnail">
                            </svg>
                            <div class="card-body">
                                <p class="card-title">
                                    <h2 class="black-centred-text">Crypto for Beginners</h2>
                                    What is cryptocurrency and why is it so important? Click here to learn.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                        <small class="text-muted">~15 mins</small>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top"
                                width="100%"
                                height="225"
                                xmlns="http://www.w3.org/2000/svg"
                                preserveAspectRatio="xMidYMid slice"
                                focusable="false"
                                role="img"
                                aria-label="Placeholder: Thumbnail">
                            </svg>
                            <div class="card-body">
                                <p class="card-title">
                                    <h2 class="black-centred-text">How can I farm crypto?</h2>
                                    Educate yourself about Crypto farming methods: PoS, PoW and Lending. Start earning ASAP!
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">~15 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top"
                                width="100%"
                                height="225"
                                xmlns="http://www.w3.org/2000/svg"
                                preserveAspectRatio="xMidYMid slice"
                                focusable="false"
                                role="img"
                                aria-label="Placeholder: Thumbnail">
                            </svg>
                            <div class="card-body">
                                <p class="card-title">
                                    <h2 class="black-centred-text">Crypto News</h2>
                                    Check the news. Check the news. Check the news. Check the news. Check the news.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">~15 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="jumbotron" style="background-color: white; border: black solid 1px;">
        <!-- Grid layout #2 -->
        <h3 class="black-centred-text">Crypto news:</h3>

    </div>

    <hr>

    <div class="jumbotron", style="background-color: white; border: black solid 1px;">
        <!-- Grid layout #3 -->
        <h3 class="black-centred-text">Macro News:</h3>

    </div>

</div>

<script>
$(document).ready(function() {
 $('.selectpicker').selectpicker();

 $('#framework').change(function(){
  $('#hidden_framework').val($('#framework').val());
 });

 $('#multiple_select_form').on('submit', function(event){
  event.preventDefault();
  if($('#framework').val() != '')
  {
   var form_data = $(this).serialize();
   $.ajax({
    url:"insert.php",
    method:"POST",
    data:form_data,
    success:function(data)
    {
     //console.log(data);
     $('#hidden_framework').val('');
     $('.selectpicker').selectpicker('val', '');
     alert(data);
    }
   })
  }
  else
  {
   alert("Please select a coin");
   return false;
  }
 });
});
</script>

{% endblock %}