<!-- GENERIC MINING CALCULATOR -->
<div class="row center">
    <div style="border: black solid 1px; text-align: center;" class="col md-3 mb-3">
        <input id="hashrate" class="form-control" placeholder="Hashrate (MH/s)" type="number">
    </div>

    <div style="border: black solid 1px; text-align: center;" class="col md-3 mb-3">
        <input id="power_consumption" class="form-control" placeholder="(W)" type="number">
    </div>
</div>
<div class="row center">
    <div style="border: black solid 1px; text-align: center;" class="col md-3 mb-3">
        <input id="cost_per_kwh" class="form-control" placeholder="in $" type="number">
    </div>
    <div>
        <input id="pool_fee" class="form-control" placeholder="%" type="number">
    </div>
</div>